--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
redis
qdrant-client>=1.7.0,<1.8.0
numpy
torch==2.6.0+cpu
transformers<4.52.0
sentence-transformers<4.0.0
hmmlearn
datasets
scikit-learn
spacy
